@import url('https://fonts.googleapis.com/css?family=Bitter:700');
@import "style2";

/* body */
body{
    margin: 0px 0px;
    font-family: cursive;
    /* background: linear-gradient(150deg, #7c9473 0%, #cfdac8 51%, #e8eae6 75%); */
}

/* header */

.header{
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    padding: 10px 80px;
    overflow: hidden;
    opacity: 99;
    z-index: 3;
}

.header h1{
    float: left;
}


.header h1 a{
    color: black;
}

 

.header-menu{
    margin: 20px 0px;
    float:right;
}

.header li{
    list-style-type: none;
    font-weight: bolder;
    display: inline;
   margin: 0 5px;
}

.header  a{
    color: black;
    -webkit-transition: grey 400ms ease-out,border 400ms ease-out;
    transition: grey 400ms ease-out,border 400ms ease-out;
    border-bottom: 1px solid transparent;
}

.header  a:hover{
    /* color: black;
    text-decoration: none;
    border-bottom: 1px solid grey; */
    color: grey;
    text-decoration: none;
   border-bottom: 1px solid grey;
    font-weight: bolder;
}

.empty{
    height:20vh;
    background-color: #7c9473;
}

/* home */
.full-screen {
    min-height: 100vh;
    display: flex;
}

.home{
    padding-bottom: 200px ;
    background-color: #7c9473;
}

.words {
    margin: 0 auto;
    font-family: cursive, Arial, sans-serif;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    list-style-type: none;
}

.Words-line {
    height: 90px;
    overflow: hidden;
    position: relative;
}

.Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
}


p{
    transition: all 0.4s ease-in-out;
       transform: translate3d(0, 0, 0);
    height: 90px;
}
.words:hover p {
    transform: translate3d(0, -100px, 0);
}


/* skills */


.skills{
    padding: 50px 0px;
    background-color: #cfdac8;
    display: ;
}

*{
    box-sizing: border-box;
}


/* .item {
    width: 210px;
    height: 210px;
    margin: 50px auto;
    padding: 50px 0px;
    background: #cae4db;
    text-align: center;
    color: black;
    font-size: 3em;
    cursor: pointer;

    transition-delay: 1s;

} */

/* .item:hover{
    width: 600px;
   
} */

.skills-icon{
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}


/* empty */
.panel.half {
    min-height: 50vh;
}

/* contact */
.contact{
    background-color: black;
    padding: 90px 0px;
}

.section-title-contact{
    color: #fff;
}

.section-desc-contact{
    color: #464646;
}

.email{
    -webkit-transition: color 400ms ease-out,border 400ms ease-out;
    transition: color 400ms ease-out,border 400ms ease-out;
    border-bottom: 1px solid transparent;
    color: #fff;
    position: relative;
    font-weight: normal;
    text-decoration: none;
    padding-bottom: 2px;
}

.email:hover{
    color: #415557;
    text-decoration: none;
    border-bottom: 1px solid #415557;
    
}

.contact-email{
    border-bottom: 1px solid beige ;
}

.contact-hello{
    padding: 30px 10px;
}

.email-input{
    background-color: initial;
    border: none;
    padding: 10px 0px;
    height: 40px;
    width: 60%;
    color: white;
}
.email-input:hover{
    border: none;
}

.email-submit{
    float: right;
    background-image: url("/img/submit.png");
    width: 5%;
    height: 100%;
}

/* footer */




footer{
    background-color: #cdd0cb;
    padding: 50px 0px;
}


.footer-list{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.footer-list li{
    display: inline-block;
    margin: 0px 10px;
    color: black;
    font-weight: bold;
    font-size: larger;
    position: relative;
}

.footer-li{
    -webkit-transition: grey 400ms ease-out,border 400ms ease-out;
    transition: grey 400ms ease-out,border 400ms ease-out;
    border-bottom: 1px solid transparent;
		
}

.footer-list li a{
    color: black;
    text-decoration: none;
    
}

.footer-list li a:hover{
     color: grey;
     text-decoration: none;
    border-bottom: 1px solid grey;
     font-weight: bolder;
 } 

 .copyright  p{
    text-align: center;
    opacity: 0.3;
 }

@keyframes lineOut{
    0%{-webkit-transform:translateX(0%);
        transform:translateX(0%);
    }

    50%{-webkit-transform:translateX(100.5%);
            transform:translateX(100.5%);
    }
    100%{-webkit-transform:translateX(0%);
        transform:translateX(0%);
    }
}

.copyright{
   text-align: right;
 
}

.copyright a{
    color: #464646;
}
.copyright a:hover{
    color: #464646;
    text-decoration: none;
}